/* Variables */
:root {
    --violet: hsl(257, 40%, 49%);
    --soft-mag: hsl(300, 69%, 71%);
}



/* FEM styles */
.attribution {
     font-size: 11px; 
     text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}